
@font-face {
  font-family: "Number";
  src: url(../Fonts/Number/Carre-G6Vq.otf);
}

@font-face {
  font-family: "Inter";
  src: url(../Fonts/inter/web/Inter-Thin.woff2);
  font-weight: 100;
}


@font-face {
  font-family: "Inter";
  src: url(../Fonts/inter/web/Inter-Light.woff2);
  font-weight: 200;
}

@font-face {
  font-family: "Inter";
  src: url(../Fonts/inter/web/InterDisplay-Regular.woff2);
  font-weight: 300;
}

@font-face {
  font-family: "Inter";
  src: url(../Fonts/inter/web/Inter-Medium.woff2);
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url(../Fonts/inter/web/InterDisplay-SemiBold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url(../Fonts/inter/web/Inter-Bold.woff2);
  font-weight: 800;
}

@font-face {
  font-family: "Inter";
  src: url(../Fonts/inter/web/Inter-Black.woff2);
  font-weight: 900;
}
