@charset "UTF-8";
.btn {
  font-size: 14px;
  width: 80px;
  height: 25px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #00c1ae;
  border: solid 1px #00c1ae;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.btn-tags--link {
  padding-inline: 0.8rem;
}

.btn--health {
  color: white;
  text-decoration: none;
}
.btn--health:hover {
  box-shadow: -2px 2px 10px #00c1ae;
  transition: all 0.3s;
}

.btn-techno {
  color: white;
}
.btn-techno:hover {
  box-shadow: -2px 2px 10px #00c1ae;
  transition: all 0.3s;
}

.btn-active {
  color: white;
}
.btn-active:hover {
  box-shadow: -2px 2px 10px #92d822;
  transition: all 0.3s;
}

.btn--active {
  color: white !important;
  background-color: #92d822;
  border: solid 1px #92d822;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.btn-busines {
  background-color: #e8391e;
  border: #e8391e;
  color: white !important;
}
.btn-busines:hover {
  box-shadow: -2px 2px 10px #e8391e;
}

.btn-ins {
  background-color: #0061e0;
  border: #0061e0;
  width: 100px;
  color: white;
}
.btn-ins:hover {
  box-shadow: -2px 2px 10px #0061e0;
  transition: all 0.3s;
}

.btn-sport {
  background-color: #20b200;
  border: #20b200;
  color: white;
}
.btn-sport:hover {
  box-shadow: -2px 2px 10px #20b200;
  transition: all 0.3s;
}

@font-face {
  font-family: "Number";
  src: url(../Fonts/Number/Carre-G6Vq.otf);
}
@font-face {
  font-family: "Inter";
  src: url(../Fonts/inter/web/Inter-Thin.woff2);
  font-weight: 100;
}
@font-face {
  font-family: "Inter";
  src: url(../Fonts/inter/web/Inter-Light.woff2);
  font-weight: 200;
}
@font-face {
  font-family: "Inter";
  src: url(../Fonts/inter/web/InterDisplay-Regular.woff2);
  font-weight: 300;
}
@font-face {
  font-family: "Inter";
  src: url(../Fonts/inter/web/Inter-Medium.woff2);
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url(../Fonts/inter/web/InterDisplay-SemiBold.woff2);
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url(../Fonts/inter/web/Inter-Bold.woff2);
  font-weight: 800;
}
@font-face {
  font-family: "Inter";
  src: url(../Fonts/inter/web/Inter-Black.woff2);
  font-weight: 900;
}
@media (min-width: 762px) and (max-width: 1100px) {
  .right {
    margin-right: 1rem !important;
  }
}
:root,
:root.light {
  --color-bg: #ffffff;
  --color-fg: #000000;
  --color-creator: #5e5e5e;
  --color-border: #ebebeb;
  --color-para: #444;
  --color-orange--hover: #ffed6c;
  --color-blockqoute-bg: #f8f9fa;
  --color-btn-tags: #ebebeb;
  --color-navbar: #000;
  --color-scrollbar: #c5c5c5;
  --color-scrollbar-thumb: #2a9d8f;
  --color-brands-bg: #edede9;
}

:root.dark {
  --color-bg: #212529;
  --color-fg: #ffffff;
  --color-creator: #8b8b8b;
  --color-border: #303030;
  --color-para: #cacaca;
  --color-orange--hover: #ff3152;
  --color-blockqoute-bg: #303030;
  --color-btn-tags: #303030;
  --color-navbar: #fff;
  --color-scrollbar: #444;
  --color-scrollbar-thumb: #2a9d8f;
  --color-brands-bg: #34373a;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  border-bottom: var(--color-border);
}
body .header-top--1 {
  background-color: var(--color-bg);
}
body a {
  color: var(--color-fg);
}
body .creator--name {
  color: var(--color-creator) !important;
}
body .creator--name:hover {
  color: var(--color-navbar) !important;
  transition: ease-out 0.3s;
}
body .creator--date {
  color: var(--color-creator) !important;
}
body p {
  color: var(--color-para) !important;
}
body .post-read-time {
  color: var(--color-creator) !important;
}
body i {
  color: var(--color-fg);
}

.jl_post_meta {
  font-size: 12px;
}

.fa-chevron-down--nav {
  position: relative;
  top: -1px;
}

*::selection {
  background-color: #1ed760;
  color: black;
}

body {
  margin: 0;
  font-family: "inter";
}

a {
  text-decoration: none;
}

.col-12 {
  width: 100%;
}

.col {
  width: 50%;
  margin-inline: 1rem;
}

.col-10 {
  margin-left: 3rem;
}

.jl_lb_ar {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  opacity: 0.125;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 16px;
}
@media (max-width: 599px) {
  .container {
    max-width: 520px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (max-width: 599px) {
  h1 {
    font-size: 32px;
  }
}

.align-center {
  align-items: center;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.flex-to--inline {
  display: flex;
}
@media (max-width: 1024px) {
  .flex-to--inline {
    display: inline !important;
  }
}

.row {
  display: flex;
  flex-direction: row;
}
@media (max-width: 768px) {
  .row {
    padding-right: 16px;
  }
}

.header--top {
  background-color: #000;
}
.header--top div div ul {
  margin: 0;
  padding-left: 0;
  width: 80%;
}
.header--top div div ul a {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
.header--top div div ul a .Menu-item--1 {
  padding-right: 1rem;
}
.header--top div div ul a .Menu-item--2 {
  padding-right: 1rem;
}
.header--top div div ul a .Menu-item--3 {
  padding-right: 1rem;
}
.header--top div div ul a .Menu-item--4 {
  padding-right: 1rem;
}

.shop--list {
  display: inline-grid;
  width: 20px;
  height: 20px;
  font-size: 12px;
  background-color: #ff3152;
  text-align: center;
  align-items: center;
  border-radius: 50px;
}

header span {
  color: white;
  margin-right: 0.5rem;
  font-size: 16px;
}

.fa-facebook-f {
  color: #45629f;
  margin-right: 0.5rem;
}

.fa-facebook-f--hover:hover {
  color: white;
}

.fa-pinterest-p {
  color: #e02321;
  margin-right: 0.5rem;
}

.fa-pinterest-p--hover:hover {
  color: white;
}

.fa-twitter {
  color: #5eb2ef;
  margin-right: 0.5rem;
}

.fa-twitter--hover:hover {
  color: white;
}

.fa-spotify {
  color: #1ed760;
  margin-right: 0.5rem;
}

.fa-spotify--hover:hover {
  color: white;
}

#hc-nav-1-nav-title {
  color: white;
}

.nav-content {
  background-color: black;
}

.navbar {
  background-color: black !important;
}

.dropbtn {
  position: relative;
  color: white;
  font-size: 16px;
  border: none;
  padding-bottom: 0.5rem;
}

.dropdown:after {
  content: "";
  position: absolute;
  background-color: #ff3152;
  height: 2px;
  width: 0%;
  left: 0;
  top: 75%;
  transition: 0.3s;
}
.dropdown:hover::after {
  width: 85%;
}

.dropdown {
  height: 100%;
  align-items: center;
  display: flex;
  position: relative;
}

.dropdown-content--inside {
  margin-top: -2.8rem;
  margin-left: 10rem;
  display: none;
  position: absolute;
  background-color: var(--color-bg);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content--inside a {
  color: var(--color-fg) !important;
}
.dropdown-content--inside .link-last:hover {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.dropdown-content--inside a:hover {
  background-color: var(--color-orange--hover);
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropdown-content:hover .dropdown-content--inside {
  display: block;
}

.dropdown-content {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: 1.6rem;
  display: none;
  position: absolute;
  background-color: var(--color-bg);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: var(--color-fg) !important;
}

.dropdown-content--last {
  margin-top: 1.6rem;
  display: none;
  position: absolute !important;
  top: 65%;
  background-color: var(--color-bg);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content .link-last:hover {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.dropdown-content a:hover {
  background-color: var(--color-orange--hover);
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar--top {
  display: flex;
  align-items: center;
  height: 70px;
  flex-direction: row;
  padding-left: 20px;
}
@media (max-width: 1024px) {
  .navbar--top {
    display: none;
  }
}

.nav-item-link {
  border-top: solid 1px white !important;
}

.nav-item-link:hover {
  background-color: #ff3152 !important;
}

.navbar-link--top {
  margin-right: 1rem;
}
.navbar-link--top a {
  color: var(--color-fg);
}

.hc-nav-trigger.hc-nav-1 {
  display: inline !important;
  top: 0 !important;
}

.hc-nav-trigger {
  position: relative !important;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 9980;
  width: 20px !important;
  min-height: 0 !important;
}

.hamb-icons {
  display: flex;
  align-items: center;
  float: right;
  margin-left: auto;
}

.logo--header {
  width: 150px;
}

.light .dark-label {
  display: none;
}
.light .logo-header-link--light {
  display: none;
}

.dark .light-label {
  display: none;
}
.dark .dark-label {
  display: block;
}
.dark .logo-header-link--light {
  display: inline;
}
.dark .logo-header-link--dark {
  display: none;
}

.d-flex ul li {
  font-size: 16px;
  margin-right: 1.4rem;
}

.d-flex ul {
  width: 70%;
}
.d-flex ul a {
  text-decoration: none;
  color: #000;
}

.header-top--1 {
  border-bottom: solid 1px var(--color-border);
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
}
@media (max-width: 1024px) {
  .header-top--1 {
    padding-block: 1rem;
  }
}

.navbar-shop--icons {
  color: black;
}

div.col-md-8 {
  width: 66.6666666667%;
  margin-top: 4rem;
}
@media (max-width: 1024px) {
  div.col-md-8 {
    width: 100%;
  }
}
@media (max-width: 599px) {
  div.col-md-8 .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 599px) {
  div.col-md-8 .row .col {
    width: 100%;
    padding-left: 16px;
  }
}

.col-md-4 {
  width: 35%;
}
@media (max-width: 1024px) {
  .col-md-4 {
    width: 100%;
  }
}

.column {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}
@media (max-width: 768px) {
  .column {
    margin-left: 0;
  }
}
.column .row--last {
  border: none;
}
@media (max-width: 1024px) {
  .column .row--last {
    border: none;
  }
}
.column .row {
  border-bottom: 1px solid var(--color-border);
  display: flex !important;
}
@media (max-width: 1024px) {
  .column .row {
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 0.8rem;
    margin-bottom: 0.8rem;
    display: flex !important;
    flex-direction: row-reverse;
    align-items: center;
  }
}
@media (max-width: 1024px) and (max-width: 1024px) {
  .column .row .w-70 {
    margin-left: 1.5rem;
  }
}

.heading-1--text {
  font-size: 48px;
  font-family: "Inter";
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.section-top--viewdate {
  color: #5e5e5e;
}

.section-top--image-top {
  position: relative;
  margin-top: 2rem;
  border-radius: 20px;
}
.section-top--image-top:hover {
  box-shadow: 4px 4px 6px black;
}
@media (max-width: 599px) {
  .section-top--image-top {
    height: 300px;
  }
}

.image-link--yt {
  position: absolute;
  top: 48%;
  left: 48%;
}
.image-link--yt:hover {
  top: 46%;
  left: 46%;
  font-size: 30px;
  transition: all 0.5s;
}

.d-flex-imp {
  display: flex;
}

.btn-tags {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  font-size: 12px;
  background-color: var(--color-bg);
}

.btn-tags {
  border: solid 1px var(--color-btn-tags);
  border-radius: 20px;
  transition: all 0.5s;
}
.btn-tags a {
  color: var(--color-fg);
}
.btn-tags a:hover {
  color: var(--color-bg);
}
.btn-tags:hover {
  background-color: #ff3152;
}

.creator-post {
  max-width: 75px;
  width: 75px;
}
@media (max-width: 599px) {
  .creator-post {
    width: 30px;
    margin-left: 1rem;
  }
}
@media (max-width: 768px) {
  .creator-post {
    width: 50px;
  }
}

.creator-post--image {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.paragraph--creator {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 0;
}

.paragraph--creator--share {
  color: rgb(128, 128, 128);
}

.fa-brands--border {
  justify-content: center;
  display: flex !important;
  align-items: center !important;
  width: 40px;
  height: 40px;
  border: solid 1px rgb(214, 214, 214);
  align-items: center;
  border-radius: 100px;
  background-color: var(--color-brands-bg);
}

div .col-10 div {
  font-weight: 300;
  color: #444;
  line-height: 28px;
  margin-bottom: 2rem;
}
div .col-10 div::first-letter {
  float: left;
  font-weight: 300;
  line-height: 1;
  margin-right: 0.5rem;
  font-size: 80px;
  color: #000;
}
div .col-10 p {
  font-weight: 300;
  color: #444;
  line-height: 28px;
}

.creator-links-p {
  color: var(--color-fg);
  box-shadow: inset 0 -3px 0 #ffed6c;
}

.creator-links-p:hover {
  background-color: #ffed6c;
  transition: ease-in 0.3s;
  -webkit-transition: ease-in 0.3s;
  -moz-transition: ease-in 0.3s;
  -ms-transition: ease-in 0.3s;
  -o-transition: ease-in 0.3s;
}

blockquote {
  background-color: var(--color-blockqoute-bg);
  padding: 2rem;
  padding-right: 0;
  margin-right: 0;
  margin-left: 0;
}
@media (max-width: 599px) {
  blockquote {
    padding: 1rem;
  }
}
blockquote p {
  font-size: 24px;
  font-weight: 800;
  margin-top: -1rem;
  margin-left: 1rem;
  margin-bottom: -1rem;
}
@media (max-width: 599px) {
  blockquote p {
    font-size: 1rem;
  }
}
blockquote .thomas-edison {
  font-size: 14px;
  margin-top: 2rem;
  margin-left: 3rem;
  color: gray;
}

aside {
  margin-top: 4rem;
  margin-left: 3rem;
}
@media (max-width: 1024px) {
  aside {
    margin-left: 0;
  }
}

.ins-text {
  border-bottom: solid 1px var(--color-border);
  margin-bottom: 30px;
  padding-bottom: 15px;
  font-family: "Inter";
  font-weight: 500;
}

.fa-circle {
  color: white !important;
  align-items: center;
  font-size: 3px;
  display: flex !important;
  margin-inline: 5px;
}
@media (max-width: 599px) {
  .fa-circle {
    top: 88%;
  }
}

.fa-chevron-down {
  font-size: 14px;
  color: var(--color-fg);
}

.fa-chevron-down--last {
  padding-left: 2.8rem;
  top: -1px !important;
}

.image-aside--1 {
  border-radius: 20px;
}
.image-aside--1:hover {
  box-shadow: 4px 4px 6px black;
}

.number--1 {
  color: white;
  background: black;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  left: 10px;
}

.techno--text {
  padding-top: 3rem;
  width: 100%;
  bottom: 4px;
  border-radius: 20px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 140%);
  color: white;
  position: absolute;
  font-size: 21px;
  font-family: "inter";
  font-weight: 500;
}
.techno--text .text--side {
  left: 10px;
  position: relative;
  bottom: 20px;
  color: white;
}
.techno--text .text--side p {
  color: white !important;
}
.techno--text p {
  margin-bottom: 0;
  padding-right: 1rem;
}
@media (max-width: 768px) {
  .techno--text p {
    margin-top: 6rem;
  }
}
.techno--text span {
  font-size: 14px;
  color: #d3d3d3;
}

.aside--1 {
  position: relative;
}

.techno-aside--position {
  position: absolute;
  bottom: 100px;
  left: 10px;
}

div.aside--1 span.techno--name-1 {
  font-size: 14px;
  position: absolute;
  top: 85%;
  margin-left: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
  font-family: "inter";
  font-weight: 200;
  margin-right: 1rem;
}
@media (max-width: 599px) {
  div.aside--1 span.techno--name-1 {
    top: 85%;
  }
}
div.aside--1 span.techno--name-2 {
  font-size: 14px;
  position: absolute;
  top: 85%;
  margin-left: 6rem;
  color: rgba(255, 255, 255, 0.8);
  font-family: "inter";
  font-weight: 200;
}
@media (max-width: 599px) {
  div.aside--1 span.techno--name-2 {
    top: 85%;
  }
}

.image-aside--2 {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-image: linear-gradient(to top black);
}
.image-aside--2:hover {
  box-shadow: 4px 4px 6px black;
}

.number--2 {
  color: white;
  background: black;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  left: 10px;
}

.techno--text--2 {
  color: white;
  position: absolute;
  font-size: 21px;
  top: 45%;
  margin-left: 1.5rem;
  margin-top: 1.8rem;
  font-family: "inter";
  font-weight: 500;
}

.aside--2 {
  position: relative;
  margin-top: 2rem;
}

.techno-aside--position--2 {
  position: absolute;
  top: 40%;
  left: 0;
  margin-left: 6.2rem;
}

.active-aside--position--2 {
  position: absolute;
  bottom: 100px;
  left: 65px;
  margin-left: 1.5rem;
}

div.aside--2 span.techno--name-1--2 {
  font-size: 14px;
  position: absolute;
  top: 85%;
  margin-left: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
  font-family: "inter";
  font-weight: 200;
  margin-right: 1rem;
}
@media (max-width: 599px) {
  div.aside--2 span.techno--name-1--2 {
    top: 85%;
  }
}
div.aside--2 span.techno--name-2--2 {
  font-size: 14px;
  position: absolute;
  top: 85%;
  margin-left: 6rem;
  color: rgba(255, 255, 255, 0.8);
  font-family: "inter";
  font-weight: 200;
}
@media (max-width: 599px) {
  div.aside--2 span.techno--name-2--2 {
    top: 85%;
  }
}

.catg-text {
  margin-top: 2rem;
  border-bottom: solid 1px var(--color-border);
  margin-bottom: 20px;
  padding-bottom: 15px;
  font-family: "Inter";
  font-weight: 500;
}

.image-aside-catg--1 {
  position: relative;
  object-fit: cover;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-bottom: 1.5rem;
}

.image-aside-catg--2 {
  position: relative;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 1.5rem;
}

.image-aside-catg--3 {
  position: relative;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 1.5rem;
}

.aside-catg--1 {
  position: relative;
}

.aside-catg--2 {
  position: relative;
}

.aside-catg--3 {
  position: relative;
}

.number-catg--1 {
  position: absolute;
  top: 25px;
  right: 10%;
  color: white;
  background: black;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.5rem;
}

.number-catg--2 {
  position: absolute;
  top: 25px;
  right: 10%;
  color: white;
  background: black;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.5rem;
}

.number-catg--3 {
  position: absolute;
  top: 25px;
  right: 10%;
  color: white;
  background: black;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.5rem;
}

.catg--links {
  position: absolute;
  left: 7%;
  top: 25px;
  color: white;
  background: linear-gradient(to left, #fff 0, #fff 25%, transparent 25%) -2px 100%/4px 1px repeat-x;
  font-size: 20px;
  font-family: "inter";
  font-weight: 500;
}

.splide__track {
  margin-bottom: 4rem;
  margin-top: 3rem;
}

.splide__slide {
  background-size: cover;
  padding-inline: 1rem;
}

.splide__list li {
  padding-inline: 0;
}

.techno-aside--position--slider {
  position: absolute;
  top: 38%;
  left: 44%;
  margin-left: 1.5rem;
}
@media (max-width: 599px) {
  .techno-aside--position--slider {
    left: 40%;
    margin-left: 0;
  }
}

.active-aside--position--2--slider {
  position: absolute;
  top: 38%;
  left: 44%;
  margin-left: 1.5rem;
}
@media (max-width: 599px) {
  .active-aside--position--2--slider {
    left: 40% !important;
    font-size: 24px;
  }
}

.slider--text {
  color: white !important;
  font-size: 32px;
  position: absolute;
  top: 200px;
  left: 20%;
  margin-inline: auto;
}
@media (max-width: 599px) {
  .slider--text {
    left: 15% !important;
    font-size: 24px !important;
  }
}

footer {
  background-color: black;
  padding-bottom: 3rem;
  padding-top: 2rem;
}

.fa-brands--footer--border {
  justify-content: center;
  display: flex !important;
  align-items: center !important;
  width: 40px;
  height: 40px;
  align-items: center;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.footer--abouse-us {
  color: white !important;
  margin-top: 1rem;
  padding-inline: 0.5rem;
}

.footer--abouse-us:hover {
  color: #ff3152 !important;
  transition: all 0.4s;
}

.footer--image {
  width: 200px;
  justify-content: center;
}

.center {
  justify-content: center;
}

.entry-title a:hover {
  color: #ff3152;
  transition: all 0.3s;
}

.maingpage-image--position {
  width: 100%;
  position: absolute;
  padding: 0 2rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 140%);
  border-radius: 20px;
  height: 35%;
  bottom: 4px;
}
@media (max-width: 1024px) {
  .maingpage-image--position {
    height: 25%;
  }
}
@media (max-width: 599px) {
  .maingpage-image--position {
    height: 35%;
    padding: 0 !important;
    padding-left: 0.6rem !important;
  }
}
.maingpage-image--position p {
  font-size: 2rem;
  color: white !important;
  width: 80%;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}
@media (max-width: 768px) {
  .maingpage-image--position p {
    font-size: 1rem !important;
  }
}
@media (max-width: 1024px) {
  .maingpage-image--position p {
    font-size: 30px;
    width: 100% !important;
  }
}
.maingpage-image--position span {
  color: rgb(201, 201, 201) !important;
}
@media (max-width: 768px) {
  .maingpage-image--position span {
    font-size: 10px;
  }
}
.maingpage-image--position span img {
  width: 25px;
  border-radius: 50px;
  top: 5px;
  position: relative;
  margin-right: 0.4rem;
}
@media (max-width: 768px) {
  .maingpage-image--position span img {
    width: 16px !important;
  }
}

.button--play {
  position: absolute;
  top: 50%;
  left: 48%;
  z-index: 1;
}
.button--play:hover {
  width: 200px;
  height: 200px;
}

.column {
  display: flex;
  flex-direction: column;
}
.column .row--last {
  border: none;
}
.column .row {
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 0.9rem;
  margin-bottom: 0.9rem;
}
.column .row span {
  color: #444;
  font-size: 12px;
}
@media (max-width: 599px) {
  .column .row span {
    font-size: 10px;
  }
}
.column .row--last {
  border: none;
}

.w-70 {
  width: 70%;
}
.w-70 .busines--link {
  color: white;
}
.w-70 .busines--link:hover {
  color: black;
}
.w-70 .btn-active {
  color: white;
}
.w-70 .btn-active:hover {
  color: black;
}
.w-70 * {
  transition: ease-out 0.2s;
}
.w-70 a:hover {
  color: #ff3152;
  transition: all 0.3s;
}
.w-70 a h3 {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0;
}
@media (max-width: 599px) {
  .w-70 a h3 {
    font-size: 1rem;
  }
}

div .w-30 {
  margin-left: 1rem;
}
div .w-30 img {
  width: 100px;
  border-radius: 25px;
}

.img-responsive {
  border-radius: 15px;
  margin-bottom: 1.5rem;
}

.jl_m_right_content--techno {
  margin-bottom: 2rem;
  margin-left: 2rem;
}
@media (max-width: 599px) {
  .jl_m_right_content--techno {
    margin-left: 0;
  }
}

.jl_m_right_content {
  margin-bottom: 2rem;
  margin-left: 0rem;
  position: relative;
}
@media (max-width: 1024px) {
  .jl_m_right_content {
    margin-left: 1rem;
  }
}
.jl_m_right_content .btns-position--mainpage {
  position: absolute;
  bottom: 45px;
  left: 15px;
}
.jl_m_right_content p {
  color: #444;
  font-size: 14px;
}

.row .jl_m_right_content h2 {
  margin-top: 0;
}
@media (max-width: 599px) {
  .row .jl_m_right_content h2 {
    font-size: 16px;
  }
}

.sidebar--right {
  position: sticky;
  top: 6rem;
  margin-top: 4rem;
  margin-left: 3rem;
}
@media (max-width: 1024px) {
  .sidebar--right {
    margin-inline: 1rem;
  }
}

.row-reverse {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 1rem;
}
.row-reverse .w-30 {
  margin-left: 0;
}
.row-reverse .w-70 {
  margin-left: 1rem;
}
.row-reverse .w-70 span {
  font-size: 12px;
  color: #5e5e5e;
}
.row-reverse .w-70 h3 {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

img {
  object-fit: cover;
}

.position--relative {
  position: relative;
}

.jl_m_left_content {
  margin-right: 1rem;
}

.right {
  margin-inline: 0;
}

.copyright {
  justify-content: center;
  text-align: center;
}
.copyright p {
  color: rgb(170, 170, 170) !important;
}

@media (max-width: 599px) {
  .logo--header {
    width: 120px;
  }
}

.flex-to--inline--techno {
  display: flex;
}
@media (max-width: 599px) {
  .flex-to--inline--techno {
    display: inline;
  }
}

.techno-top--text {
  justify-content: center;
  color: var(--color-fg);
  margin-top: 1rem;
  margin-inline: 1rem;
  text-align: center;
}

.jl_menu_lb {
  left: 40px;
  top: 25px;
  position: absolute !important;
  bottom: auto !important;
  color: #7a7a7a;
  line-height: 19px;
  height: 19px !important;
  font-size: 75%;
  padding: 0px 6px;
  letter-spacing: 0px !important;
  width: unset !important;
  display: inline-block !important;
  border-radius: 2px;
  margin: auto auto auto 6px;
  -ms-flex-item-align: start;
  align-self: flex-start;
  vertical-align: baseline;
  position: relative;
  border-radius: 100px;
  background: transparent !important;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
}

.modal__container {
  position: absolute;
  top: 10px;
  background-color: #000;
  padding: 30px;
  width: 50ch;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before {
  content: "✕";
}

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}

.modal__btn {
  font-size: 0.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.modal__btn:focus,
.modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}

.modal__footer {
  display: flex;
  justify-content: end;
}

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}
.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden=false] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=false] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=true] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=true] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.modal--search {
  color: white;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.modal--search:hover {
  color: #ff3152;
}

h4 {
  margin-block: 0.8rem;
}

.card-creator {
  margin-top: 0.5rem;
}

.hover-for--creator:hover {
  color: #6f6f6f !important;
  transition: ease-out 0.3s;
}

.single_post_tag_layout {
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 2rem;
}

.jl_m_right_w {
  border-bottom: 1px solid var(--color-border);
}

.jl_m_right_w-last {
  border-bottom: none;
}

.row-reverse--last {
  border-bottom: none;
}

.light--mode {
  cursor: pointer;
  width: 30px;
  margin-right: 0.5rem;
  height: 30px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #264653;
  border-radius: 25px;
}

.dark--mode {
  cursor: pointer;
  width: 30px;
  margin-right: 0.5rem;
  height: 30px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #264653;
  border-radius: 25px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-scrollbar);
}

::-webkit-scrollbar-thumb {
  background-color: #ff3152;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff3152;
}

.fa-bars:hover {
  color: #ff3152;
}

.fa-magnifying-glass:hover {
  color: #ff3152;
}

.fa-bag-shopping:hover {
  color: #ff3152;
}

.fa-sun:hover {
  background-color: var(--color-fg);
}

.fa-moon-stars:hover {
  background-color: var(--color-fg) !important;
  color: black !important;
}

.fa-brands:hover {
  color: var(--color-fg) !important;
}

html {
  scrollbar-color: #ff3152 rgb(201, 201, 201);
  scrollbar-width: thin;
}

.xmark--close .fa-xmark {
  color: black;
}
.xmark--close .fa-xmark:hover {
  color: red !important;
  transition: all 0.2s;
}

.search--input {
  width: 90%;
  background-color: #EEEDEB;
  color: #000;
}
@media (max-width: 599px) {
  .search--input {
    width: 80%;
  }
}

.searchbox {
  position: sticky;
  top: 0;
  background-color: #E1F0DA;
  padding: 1rem 0 1rem 1rem;
}

.search--result {
  max-height: 80px;
  max-width: 500px;
  padding-bottom: 1rem;
}
@media (max-width: 599px) {
  .search--result {
    max-height: 250px;
  }
}

.fa-envelope {
  color: rgb(49, 49, 49);
}
.fa-envelope:hover {
  color: var(--color-fg);
}

.btn-tags--link {
  color: var(--color-fg);
}
.btn-tags--link:hover {
  color: white;
}

.fa-magnifying-glass--searchbox {
  color: black;
}

.image-aside--bg {
  background: linear-gradient(2deg, rgba(0, 0, 0, 0.2117647059), transparent);
  border-radius: 20px;
  height: 80px;
  top: -108px;
  position: relative;
}/*# sourceMappingURL=style.css.map */